@import colors
@import font

.pr-0
    padding-right: 0 !important
.pl-0
    padding-left: 0 !important
.pr-2
    padding-right: 2rem !important
.pl2
    padding-left: 2rem !important
.pl3
    padding-left: 3rem !important
.m-0
    margin: 0 !important
.p-0
    padding: 0 !important
.m-1rem
    margin-left: 1rem !important
    margin-right: 1rem !important
.overflow-hidden
    overflow: hidden

.text-align-right
    text-align: right !important

.text-right
    text-align: right
.text-center
    text-align: center !important

.container-full-width
    background: url('/images/background.jpg')
    background-repeat: repeat-y
    background-size: cover

.topbar
    padding-top: 1.75rem
    padding-bottom: 1rem
    margin-bottom: 0 !important
    .search-cont
        width: 72% !important
    .icons-cont
        width: 11% !important
    .logo-image
        display: block
        padding-top: .5rem
        padding-left: 1rem
        width: 100%
        img
            width: 100%

    .search-box
        position: relative
        width: 80%
        margin: 0 auto
        .search-box-input:focus
            box-shadow: 0 0 2px 0 $white !important
        .search-box-input
            background-color: $gray-input !important
            border-radius: 30px !important
            border-bottom: none !important
            text-indent: 1rem
            color: $white
            transition: border 1s
        span
            position: absolute
            top: .5rem
            right: 1rem
            display: block
            width: 2rem
            height: 2rem
            img
                height: 100%
    .top-icon:first-child
        margin-right: .75rem
        padding-top: .5rem
    .top-icon.user-top:hover
        .icon-user-red
            display: block
        .icon-user-white
            display: none
    .top-icon.user-top
        display: inline-flex
        min-width: 100px
        .icon-user-red
            display: none
        .icon-user-white
            display: block
        .links
            margin-left: .5rem
            .login-text:hover
                color: $bulletin-red
            .login-text
                font-family: 'helvetica-std-light'
                font-size: 11px
                color: $white
                display: block
    .cart-top:hover
        .cart-white
            display: none
        .cart-red
            display: block
    .cart-top
        position: relative
        .cart-white
            display: block
        .cart-red
            display: none
        .number-badge
            position: absolute
            background: #d40100
            border-radius: 30px
            width: auto
            display: block
            color: $white
            padding-top: 0
            padding-left: 6px
            padding-right: 6px
            padding-bottom: 2px
            top: -15px
            right: -10px

    .top-icon
        display: inline-block;
        img
            height: 2rem

.menu
    background: $gray
    margin-bottom: 0 !important
    .menu-nav
        line-height: 2.5rem
        height: 2.4rem
    .custom-menu
        background: $gray
        padding-left: 9%
        padding-right: 3rem
        display: flex
        justify-content: space-between
        .menu-item-1:hover, .menu-item-2:hover
            color: $white
            background-color: unset !important
        .menu-item-1
            color: $black-darker
            font-weight: bolder
            font-family: 'futura-ext-bold'
            font-size: 1rem
        .menu-item-2
            color: $black-darker
            font-weight: lighter
            font-family: 'futura-medium'
            font-size: 1rem

.custom-dropdown::after
    content: ' '
    display: block
    position: absolute
    top: 0
    left: -0.75rem
    height: 100%
    width: 5px
    background: url('/images/side_bar.png')
    background-repeat: repeat-y
    background-position: center
.custom-dropdown
    background: $menu-gray !important
    width: 330px !important
    height: unset !important
    top: 40px !important
    padding-top: 1rem
    padding-bottom: 1rem
    margin-left: -4rem !important
    overflow: visible !important
    min-height: 382px !important
    .decoration-top
        position: absolute
        top: .5rem
        left: .5rem
        display: block
        width: 10px
    .decoration-top::after
        display: block
        width: 2px
        height: 10px
        content: ' '
        background: $white
        border-radius: 50px
        margin-top: -2px
    .decoration-top::before
        display: block
        width: 10px
        height: 2px
        content: ' '
        background: $white
        border-radius: 50px

    .decoration-bottom
        position: absolute
        bottom: .5rem
        right: .5rem
        display: block
        width: 10px
        transform: rotate(180deg)
    .decoration-bottom::after
        display: block
        width: 2px
        height: 10px
        content: ' '
        background: $white
        border-radius: 50px
        margin-top: -2px
    .decoration-bottom::before
        display: block
        width: 10px
        height: 2px
        content: ' '
        background: $white
        border-radius: 50px
    li:hover
        background-color: unset !important
    li
        min-height: unset !important
        padding-left: 1rem !important
        a:hover
            background-color: unset !important
            color: $red !important
            .badge
                display: block
        a
            position: relative
            color: $white !important
            font-size: 1rem !important
            padding: 5px 1rem !important
            font-family: 'futura-medium'
            .badge
                position: absolute
                top: .45rem
                left: -1.5rem
                font-size: 1.25rem
                color: $red
                display: none

.prime-container
    position: relative
    background: $white
    margin-top: 0 !important
    margin-bottom: 0 !important
    padding-left: 2rem
    padding-top: 2rem
    padding-bottom: 2rem
    .top-left-icon
        display: block
        position: absolute
        top: 1rem
        left: 1rem
        width: 20px
        height: 20px
        background: url('/images/checked-icon.svg')
        background-size: cover
    .bottom-right-icon
        display: block
        position: absolute
        bottom: 1rem
        right: 1rem
        width: 20px
        height: 20px
        background: url('/images/checked-icon.svg')
        background-size: cover
    
    .banner-button
        background: url(/images/dewalt-drill.jpg);
        background-size: cover
        background-position: center
        border-radius: 25px
        height: 240px
        margin-right: 1rem
        img
            height: 100%
    
    .prime-text
        z-index: 2
        position: relative
        .prime-title
            font-family: 'futura-medium'
            color: $black-darker
            font-size: 2.17rem
            letter-spacing: .15rem
            display: inline-block
            span
                cursor: pointer
                font-family: 'futura-ext-bold'
        .prime-button
            cursor: pointer
            background: $bulletin-red
            text-decoration: none
            color: $white
            display: inline
            border-radius: 1rem
            padding-top: 1.25rem
            padding-bottom: 1rem
            padding-left: 2rem
            padding-right: 2rem
            line-height: 1rem
            font-family: 'helvetica-std-black'
            font-size: 1.25rem
            position: relative
            top: 22px
            text-transform: uppercase
        .buletin-checkbox
            span
                padding-right: 3.25%
                color: $product-gray2
                font-family: 'helvetica-std-light'
                letter-spacing: 1px
                font-size: .9rem
        .inline-input-buletin
            position: relative
            display: block
            background: $bulletin-gray
            border-radius: 2rem
            padding-left: 1.5rem
            padding-top: .5rem
            .email-icon
                display: inline-block
                width: 1.5rem
                margin-right: 1rem
                vertical-align: text-top
                img
                    width: 1.5rem
            .buletin-input:focus
                box-shadow: none !important
                border: none !important
            .buletin-input
                display: inline-block
                width: calc(100% - 3rem) !important
                border: none !important
                color: $white
                font-family: 'helvetica-std-light'
                letter-spacing: 1px
                margin-bottom: 0

.footer
    margin-top: 0 !important
    margin-bottom: 0 !important
    padding-bottom: 2rem !important
    padding-top: 3rem
    background: $footer-background
    padding-left: 10rem
    padding-right: 2rem
    position: relative
    .corner-top
        display: block
        position: absolute
        top: 3rem
        left: 8.5rem
        width: 25px
        height: 25px
        background: url('/images/corner-gray.svg')
        background-size: cover
    .corner-bottom
        display: block
        position: absolute
        bottom: 2rem
        right: 6rem
        width: 25px
        height: 25px
        background: url('/images/corner-gray.svg')
        background-size: cover
        transform: rotate(180deg)
    &::before
        content: ' '
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('/images/footer-background-2.png')
        background-size: cover
        background-repeat: repeat-y
    .title
        color: $product-name
        font-family: 'helvetica-std-black'
        font-size: 1.15rem
        position: relative
        z-index: 1
        padding-left: 1.5rem
        &::before
            content: ' '
            display: block
            position: absolute
            top: -2px
            left: 0
            width: 1rem
            height: 1rem
            background: url('/images/lower-price.svg')
            background-size: cover
    .description
        position: relative
        z-index: 1
        padding-left: 0
        .text2
            margin-top: 0
            margin-bottom: 0
            color: $breadcrumb-text
            font-family: 'helvetica-std-light'
            font-size: .9rem
            display: block
        .contact-list
            display: flex
            margin-top: 1rem
            .item:first-child
                margin-right: 1rem
            .item
                display: inline-block
                img
                    width: 28px
                .subtitle
                    color: $breadcrumb-text
                    font-family: 'helvetica-std-bold'
                    font-size: .9rem
                    margin-bottom: 0
                    margin-top: 0
                .text
                    margin-top: 0
                    margin-bottom: 0
                    color: $breadcrumb-text
                    font-family: 'helvetica-std-light'
                    font-size: .9rem

    .social-icon-container::first-child
        margin-top: 3rem
    .social-icon-container
        display: flex
        justify-content: flex-start
        margin-top: 1rem
        position: relative
        z-index: 1
        .social-icon
            display: block
            margin-left: 2rem
            width: 15%

.slider-container
    background: $white
    position: relative
    margin-bottom: 0 !important
    padding-top: 1rem
    padding-bottom: 1rem
    .tns-controls
        button:first-child
            position: absolute
            left: 1rem
            top: 45%
            z-index: 999
            cursor: pointer
            background: transparent
            border: none
            img
                width: 19px
        button:last-child
            position: absolute
            right: 1rem
            top: 45%
            z-index: 999
            cursor: pointer
            background: transparent
            border: none
            img
                width: 19px

.modal-boletin
    padding-top: 4rem !important
    padding-bottom: 3rem !important
    width: 600px !important
    padding-left: 5rem !important
    padding-right: 5rem !important
    border-radius: 25px !important
    overflow: visible !important
    .corner-top
        position: absolute
        top: -.75rem
        left: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
    .corner-bottom
        position: absolute
        bottom: -.75rem
        right: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
        transform: rotate(180deg)

    .title
        color: $product-gray2
        font-family: 'helvetica-std-black'
        font-size: 2rem
        text-align: center
        margin-bottom: 0 !important
    .subtitle
        text-align: center
        span
            font-family: 'helvetica-std-light'
            font-size: 2rem
            color: $white
            background: $bulletin-red
            padding-top: .5rem
            padding-left: 1rem
            padding-right: 1rem
            border-radius: 15px
    .subtitle3
        color: $product-gray2
        font-family: 'helvetica-std-black'
        font-size: 1.5rem
        text-align: center
        margin-top: 2rem !important
    p
        color: $product-gray2
        font-family: 'helvetica-std-light'
        font-size: 1rem
        text-align: left
        b
            font-family: 'helvetica-std-bold'
    .input-inline
        position: relative
        .lines
            background: url('/images/input-line-bottom.svg')
            position: absolute
            bottom: 0
            width: 100%
            height: 2px
        .email-icon
            width: 25px
            display: inline-block
            img
                width: 100%
        .buletin-input:focus
            border: none !important
            box-shadow: none !important
        .buletin-input
            display: inline-block
            width: calc( 100% - 30px )
            border: none
            text-indent: 1rem
            margin-bottom: 0
    .bulletin-button-modal
        background: $bulletin-red
        color: $white
        font-family: 'helvetica-std-black'
        font-size: 1.5rem
        padding-top: 1rem
        padding-bottom: .5rem
        padding-left: 2rem
        padding-right: 2rem
        border-radius: 25px

.panol-title
    padding-top: 1rem
    padding-bottom: 1rem
    margin-bottom: 0 !important
    position: relative
    overflow: hidden
    margin-right: 0 !important
    .text
        margin-left: -12.5% !important
        overflow: hidden
        img
            height: 2.5rem
        .line-white-left
            background: url('/images/lines-white.svg')
            background-repeat: repeat-x
            position: absolute
            width: 100%
            height: 6px
            top: 45%
            right: 60.5%
            transform: rotate(180deg)
        .line-white-right
            background: url('/images/lines-white.svg')
            background-repeat: repeat-x
            position: absolute
            width: 100%
            height: 6px
            top: 45%
            left: 60.5%
        .line-black-right
            background: url('/images/lines-black.svg')
            background-repeat: repeat-x
            position: absolute
            width: 100%
            height: 6px
            top: 45%
            left: 60.5%

.custom-input:focus
    box-shadow: none !important
    border: none !important
.custom-input
    background: $register-input-background !important
    border-radius: 2rem !important
    border: none !important
    text-indent: 1.5rem !important
    margin-bottom: 0 !important
    height: 2rem !important
    z-index: 1
    font-family: 'helvetica-std-light'
    padding-top: 5px !important
    letter-spacing: 1.5px

.select-wrapper.active
    z-index: 100
.select-wrapper
    background: $register-input-background !important
    border-radius: 2rem !important
    border: none !important
    text-indent: 1.5rem !important
    margin-bottom: 0 !important
    height: 37px !important
    width: 100%
    z-index: 10
    input
        text-indent: 1.5rem
        height: 2rem !important
        font-family: 'helvetica-std-light'
        padding-top: 5px !important
        letter-spacing: 1.5px
    .select-dropdown
        border: none !important
    span
        color: $bulletin-red !important

.custom-checkbox
    margin-left: 1rem
    .filled-in:not(:checked)+span:not(.lever):after
        background: url('/images/custom-check-uncheck.svg') !important
        background-color: unset !important
        background-size: cover !important
        border: none !important
        width: 21px !important
        height: 18px !important
        top: 1px !important
    .filled-in:checked+span:not(.lever):after
        background: url('/images/custom-check-uncheck.svg') !important
        background-color: unset !important
        background-size: cover !important
        border: none !important
        width: 21px !important
        height: 18px !important
        top: 1px !important
    .filled-in:checked+span:not(.lever):before
        background: url('/images/custom-check-check.svg') !important
        background-color: unset !important;
        height: 6px !important;
        width: 8px !important;
        background-size: cover !important;
        border: none !important;
        transform: none !important;
        top: 4px !important;
        left: 5.5px !important;
    span
        padding-left: 25px !important

.compare-container.show
    bottom: 0
.compare-container
    bottom: -100%
    background: #EAEAEA
    padding-top: 0
    position: fixed
    width: 100%
    z-index: 9999
    transition: all .5s ease-in-out
    padding-bottom: 2rem
    .title
        font-family: 'helvetica-std-light'
        color: #363636
        font-size: 2rem
        text-align: center
        span
            font-family: 'helvetica-std-black'
    .container-for-items
        display: flex
        justify-content: space-between
        .actions
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding-right: 2rem
            padding-left: 1rem
            .clean
                font-family: 'helvetica-std-light'
                font-size: 1.2rem
                color: #666666
                text-decoration: underline
                margin-bottom: 1rem
            .button-red
                background: #D20100
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                padding-top: .5rem
                padding-bottom: .35rem
                padding-left: 1rem
                padding-right: 1rem
                color: $white
                border: none
                border-radius: 35px
    .compare-items-container
        width: 100%
        overflow-x: auto
        overflow-y: hidden
        padding: 0 2rem
        display: flex
        .compare-item::last-child
            margin-right: 0
        .compare-item
            background: $white
            position: relative
            display: flex
            width: 25%
            padding: 1rem
            margin-right: 1.5rem
            .delete-compare
                position: absolute
                cursor: pointer
                top: .5rem
                right: .5rem
                width: 15px
                height: 15px
                display: block
            .image
                width: 40%
                img
                    width: 100%
            .text
                width: 60%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                .title
                    color: #363636
                    font-family: 'helvetica-std-black'
                    font-size: 1.25rem
                .subtitle
                    color: #666666
                    font-family: 'helvetica-std-bold'
                    font-size: 1rem



#mobile-demo
    .collapsible-header a
        font-family: 'helvetica-std-light'
        color: $product-name
    .collapsible-body li a
        font-family: 'helvetica-std-light'
        color: $product-name
        height: auto
        font-size: .9rem
        border-bottom: 1px solid $product-name
    .login-text
        margin-top: 2rem


$break-mobile: 600px
$break-tablet: 1000px
$break-laptop: 1200px
$break-laptop-xl: 1400px
$break-modern-pc: 1900px

@media (max-width: $break-mobile)
    .custom-carousel
        margin-top: 0 !important
    .sidenav-trigger
        margin-top: -3.75rem !important
    .menu
        background: transparent
        .menu-nav
            background: transparent
            height: 0
            .nav-wrapper
                height: 0
    .panol-title
        display: flex
        justify-content: center
        .text
            padding: 0 !important
            display: flex
            justify-content: center
            margin-right: -5rem !important
            img
                height: 1.5rem
            .line-white-left
                left: -85%
                height: 4px
            .line-white-right
                left: 81%
                height: 4px
            .line-black-right
                left: 86%
                height: 4px
    .topbar
        padding-bottom: 0
        .s1
            width: 18% !important
        .s2
            width: 47% !important
        .s9
            width: 50% !important
        .icons-cont
            display: none
        .logo-image
            padding-left: 3rem
            img
                height: 1.5rem
                width: auto
        .search-box
            .search-box-input
                height: 2.5rem
            span
                width: 1.25rem
                height: 1.25rem
        .top-icon
            img
                height: 1.25rem
    .buletin-check-container
        width: 100% !important
    .buletin-checkbox
        margin-right: 1rem
    .prime-container
        .text-right
            width: 100% !important
            img
                width: 70%
        .prime-text
            width: 100% !important
            .prime-title
                font-size: 1.25rem
            .s4
                width: 100% !important
                text-align: center
            .prime-button
                margin-top: -0.5rem
                position: relative
                display: block
            .bulletin-inpu-container
                width: 100% !important
                padding-right: 1rem !important
            .buletin-check-container
                margin-top: 1rem
            .inline-input-buletin
                .email-icon
                    margin-right: 0
                    img
                        width: 1.15rem
                .buletin-input
                    font-size: .7rem
            .prime-button
                font-size: .9rem
    .footer
        padding-left: 2rem
        padding-right: 1rem
        display: flex
        flex-wrap: wrap
        .s3
            width: 50% !important
        .corner-top
            top: 2rem
            left: 1.5rem
        .corner-bottom
            right: 4rem


@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .custom-carousel
        margin-top: 0 !important
    .sidenav-trigger
        margin-top: -5rem !important
    .menu
        background: transparent
        .menu-nav
            background: transparent
            height: 0
            .nav-wrapper
                height: 0
    .topbar
        .s2
            width: 36% !important
            padding-left: 40px !important
        .s9
            width: 50% !important
        .s1
            width: 10% !important
    .topbar
        .top-icon
            padding-top: 1rem
            img
                height: 1.5rem
    .topbar
        .search-box
            span
                top: 1rem
                height: 1.5rem
                width: 1.5rem
            .search-box-input
                height: 2rem
                margin-top: .75rem
    .panol-title
        .text
            img
                height: 1.5rem
            .line-white-left
                height: 4px
            .line-white-right
                left: 67%
                height: 4px
            .line-black-right
                left: 72%
                height: 4px
    .buletin-check-container
        width: 100% !important
    .buletin-checkbox
        margin-right: -1.5rem
    .prime-container
        .text-right
            img
                width: 70%
        .prime-text
            .prime-title
                font-size: 1.25rem
            .inline-input-buletin
                .email-icon
                    margin-right: 0
                    img
                        width: 1.15rem
                .buletin-input
                    font-size: .7rem
            .prime-button
                font-size: .9rem
    .footer
        padding-left: 3rem
        .corner-top
            top: 2rem
            left: 1.5rem
        .corner-bottom
            right: 4rem

@media (min-width: $break-tablet) and (max-width: $break-laptop)
    .prime-container
        .prime-text
            .prime-title
                font-size: 1.25rem
            .inline-input-buletin
                .buletin-input
                    font-size: .9rem
            .prime-button
                font-size: 1.25rem

    .topbar
        .s2
            width: 25% !important
        .s9
            width: 65% !important
        .s1
            width: 10% !important
    .topbar
        .top-icon
            padding-top: 1rem
            img
                height: 1.5rem
    .topbar
        .search-box
            span
                top: 1rem
                height: 1.5rem
                width: 1.5rem
            .search-box-input
                height: 2rem
                margin-top: .75rem
    .panol-title
        .text
            img
                height: 1.5rem
            .line-white-left
                height: 4px
            .line-white-right
                left: 61%
                height: 4px
            .line-black-right
                left: 63%
                height: 4px
    .buletin-checkbox
        margin-right: -4rem
/*@media (min-width: $break-tablet) and (max-width: $break-laptop)*/
@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)
    .topbar
        .top-icon
            padding-top: 1rem
            img
                height: 2rem
    .topbar
        .s2
            width: 22% !important
        .search-cont
            width: 63% !important
        .icons-cont
            width: 14% !important
        .search-box
            span
                top: 1rem
                height: 1.5rem
                width: 1.5rem
            .search-box-input
                height: 2rem
                margin-top: .75rem
    .panol-title
        .text
            img
                height: 1.5rem
            .line-white-left
                height: 4px
            .line-white-right
                left: 57%
                height: 4px
            .line-black-right
                left: 59%
                height: 4px
    .bulletin-inpu-container
        width: 66.6% !important
        .buletin-input
            font-size: .9rem !important
    .buletin-checkbox
        margin-right: -5rem
        
@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)
    .topbar
        .top-icon
            padding-top: 17px !important
            img
                height: 2rem
    .topbar
        .search-cont
            width: 71% !important
        .icons-cont
            width: 12% !important
        .search-box
            span
                top: 1rem
                height: 1.5rem
                width: 1.5rem
            .search-box-input
                height: 2rem
                margin-top: .75rem
    .panol-title
        .text
            img
                height: 2rem
            .line-white-left
                height: 4px
            .line-black-right
                left: 63%
                height: 4px
            .line-white-right
                height: 4px
    .bulletin-inpu-container
        width: 66.6% !important
    .buletin-checkbox
        margin-right: -7.75rem