@import base

.contact-row
    margin-top: 2rem
    margin-bottom: 0 !important
    padding-bottom: 2rem !important
    position: relative
    background: $white
    &::before
        content: ' '
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('/images/footer-background.png')
        background-size: cover
        background-repeat: repeat-y
        z-index: 0
    .contact-form
        position: relative
        z-index: 10
        padding-left: 10% !important
        margin-top: 2rem
        .description
            color: $product-gray2
            font-size: 1.5rem
            font-family: 'helvetica-std-bold'
            margin-bottom: 2rem !important
            letter-spacing: .10rem
        .input-form-inline
            display: block
            width: 80%
            margin-bottom: 1rem !important
            label
                font-family: 'helvetica-std-light'
                font-size: 1rem
                color: $product-gray2
                letter-spacing: .10rem
                margin-top: .5rem
                display: block
            .custom-checkbox
                margin-left: 0
                .filled-in:checked+span:not(.lever):before
                    left: 4.5px !important
            .contact-button
                margin-left: -.25rem
                margin-top: 2rem
                background: $bulletin-red
                border-radius: 15px !important
                text-transform: none !important
                font-family: 'helvetica-std-black'
                padding-left: 2rem !important
                padding-right: 2rem !important
    .contact-info
        z-index: 10
        position: relative
        margin-top: 2rem
        .title
            color: $contact-red
            font-size: 1.75rem
            font-family: 'helvetica-std-bold'
            font-weight: 500
            .line
                display: inline-block
                height: 5px
                border-radius: 15px !important
                background: $contact-red
                width: 40%
        .text-info
            color: $product-gray2
            font-size: 1rem
            font-family: 'helvetica-std-light'
            padding-right: 4rem
            text-align: justify
            .dot
                font-size: 1.75rem
                color: $product-gray2
                line-height: 0
                font-family: 'futura-ext-bold'
                margin-right: .25rem
        .address
            color: $product-gray2
            font-size: 1rem
            font-family: 'helvetica-std-bold'
            .dot
                font-size: 1.75rem
                color: $product-gray2
                line-height: 0
                font-family: 'futura-ext-bold'
                margin-right: .25rem

        .map
            height: 270px
        .contact-info-item
            text-align: right
            padding-right: 4rem
            .title
                font-family: 'helvetica-std-bold'
                color: $product-gray2
                font-size: 1.5rem
                letter-spacing: .10rem
                margin-bottom: 0 !important
                margin-top: 1rem !important
            .description
                .icon
                    width: 30px
                    display: inline-block
                    margin-right: .5rem
                    img
                        width: 100%
                .text
                    display: inline-block
                    min-width: 120px
                    .phone
                        color: $product-gray2
                        font-family: 'helvetica-std-bold'
                        font-size: 1rem
                        margin-bottom: 0 !important
                        margin-top: .25rem !important
                        .dot
                            font-size: 1.75rem
                            color: $product-gray2
                            line-height: 0
                            font-family: 'futura-ext-bold'
                            margin-right: .25rem
                    .email
                        font-family: 'futura-medium-oblique'
                        color: $product-gray2
                        font-size: .9rem
                        margin-top: 0 !important

.custom-input:focus
    box-shadow: 0 0 2px 0 #ffffff !important;
.custom-input
    width: 100%
    background: $input-background !important
    border-radius: 50px !important
    border: none !important
    text-indent: 2rem
    font-size: 1rem
    font-family: 'helvetica-std-light'
    letter-spacing: .10rem
    margin-bottom: 0 !important
    height: 2rem !important
.custom-input-field
    height: 2rem !important
    background: $input-background !important
    border-radius: 50px !important
    margin-top: 0 !important
    margin-bottom: 0 !important
    .select-wrapper
        height: 35px !important
        .caret
            right: 1rem !important
            fill: $button-gray
        .dropdown-content
            border-radius: 5px !important
        .select-dropdown
            border: none !important
.custom-textarea:focus
    border: none !important
    outline: none
.custom-textarea
    width: 100%
    background: $input-background !important
    border: none !important
    min-height: 6rem !important
    text-indent: 2rem
    padding-top: .5rem
    border-radius: 15px !important

@media (max-width: $break-mobile)
    .contact-row
        .contact-form
            padding-left: 5% !important
            width: 100% !important
            .description
                font-size: 1.15rem
            .input-form-inline
                width: 100%
                .s3
                    width: 50% !important
                .s5
                    width: 50% !important
                label
                    font-size: .9rem
        .contact-info
            width: 100% !important
            .title
                font-size: 1.25rem
            .text-info
                font-size: .9rem
                padding-right: 1rem
            .contact-info-item
                padding-right: 1rem
                .title
                    font-size: 1.15rem
                    text-align: center
                .description
                    text-align: center
        .contact-info
            .title
                .line
                    width: 56%
@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .contact-row
        .contact-form
            padding-left: 5% !important
            .description
                font-size: 1.15rem
            .input-form-inline
                width: 100%
                .s3
                    width: 38% !important
                .s5
                    width: 55% !important
                label
                    font-size: .9rem
        .contact-info
            width: 33% !important
            .title
                font-size: 1.25rem
            .text-info
                font-size: .9rem
                padding-right: 1rem
            .contact-info-item
                padding-right: 1rem
                .title
                    font-size: 1.15rem
        .contact-info
            .title
                .line
                    width: 33%
@media (min-width: $break-tablet) and (max-width: $break-laptop)
    .contact-row
        .contact-form
            .description
                font-size: 1.15rem
            .input-form-inline
                .s3
                    width: 38% !important
                .s5
                    width: 55% !important
                label
                    font-size: .9rem
        .contact-info
            width: 33% !important
            .title
                font-size: 1.25rem
            .text-info
                font-size: .9rem
                padding-right: 1rem
            .contact-info-item
                .title
                    font-size: 1.15rem
/*@media (min-width: $break-tablet and max-width: $break-laptop)*/
@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)
    .contact-row
        .contact-form
            .input-form-inline
                width: 107%
                .s3
                    width: 30% !important
                .s5
                    width: 45% !important
        .contact-info
            width: 30% !important
            .text-info
                padding-right: 1.5rem
            .contact-info-item
                padding-right: 1.5rem
            .title
                .line
                    width: 35%
@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)
    .contact-row
        .contact-form
            .input-form-inline
                width: 99%
                .s3
                    width: 30% !important
        .contact-info
            .text-info
                padding-right: 1.5rem
            .contact-info-item
                padding-right: 1.5rem
            .title
                .line
                    width: 30%