@font-face
    font-family: 'futura-ext-bold'
    src: url('/fonts/FuturaStd-ExtraBold.otf');

@font-face
    font-family: 'futura-bold'
    src: url('/fonts/FuturaStd-Bold.ttf');

@font-face
    font-family: 'futura-medium'
    src: url('/fonts/Futura-Std-Medium.ttf');

@font-face
    font-family: 'futura-medium-oblique'
    src: url('/fonts/Futura-Std-Medium-Oblique.ttf');

@font-face
    font-family: 'futura-heavy'
    src: url('/fonts/FuturaStd-Heavy.otf');

@font-face
    font-family: 'futura-light'
    src: url('/fonts/Futura-Std-Light.ttf');

@font-face
    font-family: 'futura-book'
    src: url('/fonts/FuturaStd-Book.ttf');

@font-face
    font-family: 'microgramma-bold'
    src: url('/fonts/MicrogrammaD-Extended-Bold.otf');

@font-face
    font-family: 'microgramma-medium'
    src: url('/fonts/MicrogrammaD-Extended-Medium.otf');

@font-face
    font-family: 'helvetica-std-light'
    src: url('/fonts/HelveticaLTStd-Light_0.otf');

@font-face
    font-family: 'helvetica-std-black'
    src: url('/fonts/HelveticaLTStd-Blk_0.otf');

@font-face
    font-family: 'helvetica-std-bold'
    src: url('/fonts/HelveticaLTStd-Bold_0.otf');
