@import base

.custom-carousel
    position: relative
    margin-top: -15px
    margin-bottom: -15px
    .gallery-item
        width: 100%
        display: block
        img
            width: 100%
    .glide__bullets
        position: absolute
        bottom: 1rem
        left: 0
        right: 0
        text-align: center
        .glide__bullet.glide__bullet--active
            &::after
                content: ' '
                width: 8px
                height: 8px
                background-color: #D50100
                display: block
                border-radius: 15px
                margin-top: 0
                margin-left: 2px
        .glide__bullet
            cursor: pointer
            background: url('/images/indicator_item.png')
            background-color: unset !important
            background-size: cover;
            width: 1.5rem !important;
            margin: 20px 4px !important;
            height: 1.5rem !important;
            border: none

    .glide__arrow--left
        position: absolute
        left: 1rem
        top: 45%
        z-index: 99999
        cursor: pointer
        width: 2.5rem
        height: 2.5rem
        background: none
        border: none
    .glide__arrow--right
        position: absolute
        right: 1rem
        top: 45%
        z-index: 99999
        cursor: pointer
        width: 2.5rem
        height: 2.5rem
        background: none
        border: none

.brand-row
    background: $gray-brands
    background-size: cover
    background-repeat: no-repeat
    position: relative
    padding-bottom: 2rem
    margin-bottom: 0 !important
    .brands
        position: relative
        z-index: 10
        padding-right: 0 !important
        .whatsapp-red-button
            width: 283px
            height: 139px
            border-radius: 15px
            background: url('/images/whatsapp_button.svg')
            background-size: cover
            background-repeat: no-repeat
            position: fixed
            top: 785px
            right: 2rem
            box-shadow: none !important
    .brand-images
        display: flex
        justify-content: center
        align-items: center
        position: relative
        z-index: 10
        .brand-icon:first-child
            margin-left: 0 !important
        .brand-icon
            width: 166px
            height: 96px
            display: block
            margin-left: 1rem
            margin-top: 1rem
            img
                height: 100%
    &::before
        content: ' '
        display: block
        width: 100%
        height: 100%
        position: absolute
        background: url('/images/background-brands-1.png')
        background-repeat: no-repeat
        background-size: cover
        z-index: 1

.featured-products
    padding-left: 0 !important
    overflow: hidden
    padding-top: 1.5rem !important
    padding-bottom: 0 !important
    .featured-title
        margin-left: 0rem
        img
            height: 2.5rem

.featured-products-content
    background: $white
    padding-top: 1rem
    margin-top: 0 !important
    margin-bottom: 0 !important
    .product-type-1
        background-color: $product-gray
        background-size: cover !important
        background-position: left !important
        border-top-left-radius: 50px
        border-bottom-left-radius: 50px
        border-top-right-radius: 25px
        border-bottom-right-radius: 25px
        overflow: hidden
        margin-left: 1rem !important
        margin-right: 1rem !important
        height: 428px
        .disscount-card
            background-color: $black-60
            border-radius: 25px
            padding: 10% 13%
            position: relative
            height: 100%
            &::after
                content: ' '
                display: block
                background: url('/images/corner-icon.svg')
                width: 10px
                position: absolute
                top: 12%
                left: 15%
                height: 10px
            &::before
                content: ' '
                display: block
                background: url('/images/corner-icon.svg')
                width: 10px
                position: absolute
                bottom: 12%
                right: 15%
                height: 10px
                transform: rotate(180deg)
    .product-container
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 428px
        .product-image
            overflow: hidden
            padding: .5rem 1.9rem !important
            text-align: center
            min-height: 245px
            img
                height: 200px
                transition: .5s all ease-in-out
            img:hover
                transform: scale(1.25)
        .product-description
            background-color: $gray-brands
            border-bottom-left-radius: 25px
            border-bottom-right-radius: 25px
            padding: 1rem 3rem
            .name
                color: $product-name
                font-family: 'helvetica-std-black'
                font-size: .9rem
                text-align: center
                margin-bottom: 0
                margin-top: 0
            .brand
                color: $gray
                font-family: 'helvetica-std-black'
                font-size: .8rem
                text-align: center
                margin-top: .25rem
                margin-bottom: .5rem
            .model
                margin-top: 0
                margin-bottom: 0
                color: $gray
                font-family: 'helvetica-std-light'
                font-size: .8rem
                text-align: center
                span
                    font-family: 'helvetica-std-bold'
            .price1
                color: $product-red
                font-family: 'helvetica-std-bold'
                font-size: 1.1rem
                margin-bottom: 0
                margin-top: .5rem
                display: flex
                justify-content: center
                span
                    font-family: 'helvetica-std-bold'
            .price2
                min-height: 1rem
                margin-top: 0
                color: #919191
                font-family: 'helvetica-std-light'
                font-size: 11px
                display: flex
                justify-content: center
                span
                    margin-left: .25rem
                    font-family: 'helvetica-std-light'
                    position: relative
                    &::after
                        position: absolute
                        content: ' '
                        top: 35%
                        left: 0
                        width: 100%
                        height: 1px
                        background: #919191
            .button-cart-container
                text-align: center
                margin-top: .5rem
                margin-bottom: .5rem
                .button-add-cart
                    background: $gray
                    cursor: pointer
                    color: $white
                    font-family: 'futura-bold'
                    text-align: center
                    padding: .5rem 1rem
                    font-size: .7rem
                    border-radius: 50px
.best-sellers
    padding-right: 0 !important
    overflow: hidden
    padding-top: 1rem !important
    padding-bottom: 0 !important
    .best-sellers-title
        margin-right: 0
        text-align: right
        img
            height: 2.5rem


.custom-slider
    position: relative
    .arrow_left
        position: absolute
        left: 1rem
        top: 45%
        z-index: 99999
        cursor: pointer
        width: 19px
    .arrow_right
        position: absolute
        right: 1rem
        top: 45%
        z-index: 99999
        cursor: pointer
        width: 19px
    .slider-item
        padding: .5rem 1.9rem !important
        text-align: center
        .product-image
            display: block
            overflow: hidden
            img:hover
                transform: scale(1.25)
            img
                height: 107px
                transition: .5s all ease-in-out
        .product-description
            border-bottom-left-radius: 25px
            border-bottom-right-radius: 25px
            padding: 1rem 3rem
            .name
                color: $product-name
                font-family: 'helvetica-std-black'
                font-size: .9rem
                text-align: center
                margin-bottom: 0
                margin-top: 0
            .brand
                color: $gray
                font-family: 'helvetica-std-black'
                font-size: .8rem
                text-align: center
                margin-top: .25rem
                margin-bottom: .5rem
            .model
                margin-top: 0
                margin-bottom: 0
                color: $gray
                font-family: 'helvetica-std-light'
                font-size: .8rem
                text-align: center
                span
                    font-family: 'helvetica-std-bold'
            .price1
                color: $product-red
                font-family: 'helvetica-std-bold'
                font-size: 1.1rem
                margin-bottom: 0
                margin-top: .5rem
                display: flex
                justify-content: center
                span
                    font-family: 'helvetica-std-bold'
            .price2
                min-height: 1rem
                margin-top: 0
                color: #919191
                font-family: 'helvetica-std-light'
                font-size: 11px
                display: flex
                justify-content: center
                span
                    margin-left: .25rem
                    font-family: 'helvetica-std-light'
                    position: relative
                    &::after
                        position: absolute
                        content: ' '
                        top: 35%
                        left: 0
                        width: 100%
                        height: 1px
                        background: #919191
            .button-cart-container
                text-align: center
                margin-top: .5rem
                margin-bottom: .5rem
                .button-add-cart
                    cursor: pointer
                    background: $gray
                    color: $white
                    font-family: 'futura-bold'
                    text-align: center
                    padding: .5rem 1rem
                    font-size: .7rem
                    border-radius: 50px


@media (max-width: $break-mobile)
    .custom-carousel
        .glide__arrow--left
            display: none
            width: 1.5rem
            height: 1.5rem
        .glide__arrow--right
            display: none
            width: 1.5rem
            height: 1.5rem
        .glide__bullets
            .glide__bullet.glide__bullet--active::after
                margin-left: 1px
    .panol-title
        .s6
            display: none
        .text
            width: 100%
            text-align: center
            margin-left: 0 !important
            img
                height: 1.5rem
            .line-black-right
                left: 80.5%
            .line-white-left
                top: 41%
                right: 88.5%
            .line-white-right
                left: 77.5%

    .brand-row
        .brand-images
            flex-wrap: wrap
            justify-content: space-evenly
            .brand-icon
                width: 120px
                height: 70px
                margin-left: 0
                img
                    height: auto
                    width: 100%
    .featured-products-content
        .s6
            width: 100% !important
        .product-type-1
            min-height: unset
            height: auto
            .disscount-card
                height: unset
            .s6
                width: 50% !important
        .product-container
            width: 100% !important
            .product-image
                min-height: unset
                img
                    height: 100px

@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .featured-products-content
        .s6
            width: 100% !important
        .product-type-1
            min-height: unset
            height: auto
            .disscount-card
                height: unset
            .s6
                width: 50% !important
        .product-container
            width: 50% !important
            .product-image
                min-height: unset
                img
                    height: 150px

    .brand-row
        .brand-images
            .brand-icon
                width: 130px
                height: 70px
        .brands
            .whatsapp-red-button
                top: 350px
                width: 203px
                height: 100px
@media (min-width: $break-tablet) and (max-width: $break-laptop)
    .brand-row
        .brands
            .whatsapp-red-button
                top: 475px
                width: 203px
                height: 100px
    .featured-products-content
        .s6
            width: 100% !important
        .product-type-1
            min-height: unset
            height: auto
            .disscount-card
                height: unset
            .s6
                width: 50% !important
        .product-container
            width: 50% !important
            .product-image
                min-height: unset
                img
                    height: 150px
/*@media (min-width: $break-tablet and max-width: $break-laptop)*/
@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)
    .brand-row
        .brands
            .whatsapp-red-button
                top: 575px
                width: 203px
                height: 100px
    .featured-products-content
        .product-type-1
            height: 300px
            min-height: unset
        .product-container
            height: 300px
            .product-image
                min-height: unset
                img
                    height: 100px
@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)
    .brand-row
        .brands
            .whatsapp-red-button
                top: 635px
                width: 240px
                height: 120px
    .featured-products-content
        .product-type-1
            height: 315px
            min-height: unset
        .product-container
            height: 315px
            .product-image
                min-height: unset
                img
                    height: 100px