@import base

.product-list
    position: relative
    background: $white
    margin-bottom: 0 !important
    &::before
        content: ' '
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('/images/footer-background.png')
        background-size: cover
        background-repeat: repeat-y
        z-index: 0

    .breadcrumbs
        margin-top: 1rem
        padding-left: 1em
        position: relative
        z-index: 10
        .breadcrumb:last-child
            &::after
                content: ''
        .breadcrumb
            color: $breadcrumb-text
            font-family: 'futura-book'
            font-size: 1rem
            &::before
                content: '' !important                
            &::after
                content: '/'
                display: inline-block
                color: $breadcrumb-text
                font-family: 'futura-book'
                font-size: 1rem
                margin-left: 1rem
    .lines
        margin-top: 1rem
        margin-left: -1rem
        height: 1px
    .filter-form
        position: relative
        z-index: 1
        background: $filter-background
        border-radius: 10px
        padding: 1rem 1.5rem
        &::before
            content: ' '
            display: block
            position: absolute
            width: 10px
            height: 10px
            background: url('/images/corner-gray.svg')
            background-size: cover
            top: -7.5px
            left: -7.5px
        &::after
            content: ' '
            display: block
            position: absolute
            width: 10px
            height: 10px
            background: url('/images/corner-gray.svg')
            background-size: cover
            bottom: -7.5px
            right: -7.5px
            transform: rotate(180deg)
        .title
            color: $black-darker
            font-family: 'futura-bold'
            font-size: 1.25rem
            margin-top: 0 !important
            letter-spacing: .15rem
        .filter-field
            margin-bottom: 2rem
            .head
                display: flex
                justify-content: space-between
                margin-left: 1.5rem
                border-bottom: 1px solid $filter-open
                margin-bottom: 2rem
                .title
                    font-family: 'helvetica-std-black'
                    font-size: 1rem
                    display: block
                    margin-bottom: 0 !important
                    line-height: 2rem
                .open
                    display: block
                    color: $filter-open
                    cursor: pointer
            .filter-options
                margin-left: 3rem
                .option
                    width: 100%
                    display: block
                    span
                        color: $breadcrumb-text !important
                        font-family: 'helvetica-std-light'
                        font-size: .8rem
                        letter-spacing: .5px
                    .filled-in:checked+span:not(.lever):before
                        color: $filter-open
                        background: url('/images/checked-icon.svg')
                        background-repeat: no-repeat
                        border: none !important
                        background-position: center
                        background-size: cover
                        width: 10px
                        height: 10px
                        top: 4px
                        left: 1px
                    .filled-in:checked+span:not(.lever):after
                        border: 1px solid $gray
                        border-radius: 5px
                        background-color: transparent;
                    .filled-in:not(:checked)+span:not(.lever):after
                        border: 1px solid $gray
                        border-radius: 5px
            .price-options
                .price-numbers
                    margin-top: 2rem
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .price-text:focus
                        box-shadow: 0 0 2px 0 #ffffff !important;
                    .price-text
                        background: $gray-brands
                        border: 1px solid $gray
                        border-radius: 15px
                        height: 1.5rem
                        font-family: 'helvetica-std-light'
                        color: $black-darker
                        font-size: .8rem
                        text-indent: .5rem
                        width: 75px
                        display: inline-block
                    .limiter
                        background: $contact-red
                        display: inline-block
                        height: 5px
                        border-radius: 10px
                        width: 20px
                        margin-bottom: .5rem
                    .submit-price
                        width: 23px
                        height: 23px
                        display: inline-block
                        margin-bottom: .5rem
                        img
                            width: 100%
    .banner
        margin-top: 5rem
        img
            width: 100%

.product-result
    padding-left: 2rem !important
    overflow: hidden
    position: relative
    z-index: 1
    .product-result-header
        .lines
            margin-top: .5rem
            height: 1px
            display: block
            margin-left: 0rem
        .results
            color: $product-gray2
            font-family: 'helvetica-std-black'
            font-size: 1.25rem
            letter-spacing: .10rem
            span
                font-family: 'futura-book'
        .sort-products
            display: flex
            justify-content: space-between
            padding-top: .5rem
            padding-left: 1.5rem
            .sort-select::-ms-expand
                display: none
            .sort-select
                display: block
                width: auto
                border: 1px solid $gray !important
                padding-left: 1rem
                background: $gray-brands
                border-radius: 50px
                padding-left: .5rem
                background: url('/images/select-icon.svg') no-repeat right #ddd
                -webkit-appearance: none
                background-position-x: calc(100% - 10px)
                padding-right: 2rem
                background-size: 12px
                font-size: .9rem
                height: 2rem
            .sort-select1
                padding-right: 4rem
                padding-left: 1.5rem
        .sort-options
            .option
                color: $breadcrumb-text
                font-family: 'futura-book'
                font-size: 1rem
                letter-spacing: .10rem
                margin-right: .75rem
        .pagination
            display: flex
            justify-content: space-between
            .pages
                .label
                    color: $breadcrumb-text
                    font-family: 'futura-book'
                    font-size: 1rem
                    letter-spacing: .10rem
                    display: inline-block
                .pages-select
                    display: inline-block
                    margin-left: .75rem
                    margin-right: .75rem
                    padding-left: 1.5rem
                    text-align: center
            .pagination-arrows
                margin-left: 2rem
                .arrow
                    width: 30px
                .arrow.right
                    margin-left: 1rem
                    margin-right: 1.5rem
                    transform: rotate(180deg)
    .product-list-container
        .product-item
            .image-container
                height: 230px
                text-align: center
                overflow: hidden
                display: block
                .main-image:hover
                    transform: scale(1.25)
                .main-image
                    height: 100%
                    transition: .5s all ease-in-out
            .description
                width: 170px
                margin: 0 auto
                display: block
                text-align: center
                .name
                    color: $product-name
                    font-family: 'helvetica-std-black'
                    font-size: .9rem
                    text-align: center
                    margin-bottom: 0
                .brand
                    color: $gray
                    font-family: 'helvetica-std-black'
                    font-size: .8rem
                    text-align: center
                    margin-top: .25rem
                    margin-bottom: .5rem
                .model
                    margin-top: 0
                    margin-bottom: 0
                    color: $gray
                    font-family: 'helvetica-std-light'
                    font-size: .8rem
                    text-align: center
                    span
                        font-family: 'helvetica-std-bold'
                .price1
                    color: $product-red
                    font-family: 'helvetica-std-bold'
                    font-size: 1.1rem
                    margin-bottom: 0
                    margin-top: .5rem
                    display: flex
                    justify-content: center
                    span
                        font-family: 'helvetica-std-bold'
                .price2
                    margin-top: 0
                    color: #919191
                    font-family: 'helvetica-std-light'
                    font-size: 11px
                    display: flex
                    justify-content: center
                    span
                        margin-left: .25rem
                        font-family: 'helvetica-std-light'
                        position: relative
                        &::after
                            position: absolute
                            content: ' '
                            top: 35%
                            left: 0
                            width: 100%
                            height: 1px
                            background: #919191
                .add-to-cart
                    background: $product-gray2
                    color: $white
                    font-family: 'helvetica-std-bold'
                    border: none
                    border-radius: 15px
                    display: inline-block
                    font-size: .8rem
                    width: 100%
                    padding-top: .5rem
                    padding-bottom: .5rem
                    text-align: center
                    cursor: pointer
                    z-index: 10
                    .cart
                        width: 1rem
                        display: inline-block
                        margin-left: 3px
                        vertical-align: sub
                .compare.active
                    .icon-compare
                        opacity: 1
                .compare
                    margin-top: .5rem
                    background: transparent
                    color: #4E4E4E
                    font-family: 'helvetica-std-bold'
                    border: none
                    border-radius: 15px
                    display: inline-block
                    font-size: .8rem
                    width: 100%
                    padding-top: .5rem
                    padding-bottom: .5rem
                    text-align: center
                    cursor: pointer
                    position: relative
                    .icon-compare
                        opacity: 0
                        transition: .5s all ease-in-out
                        position: absolute
                        width: 15px
                        height: 15px
                        right: 0
                        top: 4px
#price-slider
    .noUi-connects
        .noUi-connect
            background: $contact-red
    .noUi-handle.noUi-handle-upper
        border: none
        background-color: transparent !important
        box-shadow: none
        width: 34px !important
        height: 34px !important
        top: -10px !important
        &::after
            content: '' !important
            width: 0
        &::before
            content: '' !important
            width: 0
        .noUi-touch-area
            background: url('/images/upper-price.svg')
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            background-color: transparent !important
    .noUi-handle.noUi-handle-lower
        border: none
        background-color: transparent !important
        box-shadow: none
        width: 34px !important
        height: 34px !important
        top: -10px !important
        &::after
            content: '' !important
            width: 0
        &::before
            content: '' !important
            width: 0
        .noUi-touch-area
            background: url('/images/lower-price.svg')
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            background-color: transparent !important

.similar-products-row
    position: relative
    margin-bottom: 0 !important
    .similar-product
        padding-right: 0 !important
        overflow: hidden
        padding-top: 1rem !important
        padding-bottom: 1rem !important
        position: relative
        z-index: 1
        .similar-product-title
            margin-right: 0
            text-align: left
            img
                height: 2rem
    .similar-slider-container
        background: unset !important
        padding-bottom: 3rem

.similar-slider-custom
    position: relative
    .slider-item
        padding: .5rem 1.9rem !important
        text-align: center
        .slider-white-background
            background: $white
            border-radius: 20px
            padding-top: 2rem
            padding-bottom: .5rem
        .product-image
            display: block
            overflow: hidden
            img:hover
                transform: scale(1.25)
            img
                height: 107px
                transition: .5s all ease-in-out
        .product-description
            border-bottom-left-radius: 25px
            border-bottom-right-radius: 25px
            padding: 1rem 3rem
            .name
                color: $product-name
                font-family: 'helvetica-std-black'
                font-size: .9rem
                text-align: center
                margin-bottom: 0
                margin-top: 0
            .brand
                color: $gray
                font-family: 'helvetica-std-black'
                font-size: .8rem
                text-align: center
                margin-top: .25rem
                margin-bottom: .5rem
            .model
                margin-top: 0
                margin-bottom: 0
                color: $gray
                font-family: 'helvetica-std-light'
                font-size: .8rem
                text-align: center
                span
                    font-family: 'helvetica-std-bold'
            .price1
                color: $product-red
                font-family: 'helvetica-std-bold'
                font-size: 1.1rem
                margin-bottom: 0
                margin-top: .5rem
                display: flex
                justify-content: center
                span
                    font-family: 'helvetica-std-bold'
            .price2
                min-height: 1rem
                margin-top: 0
                color: #919191
                font-family: 'helvetica-std-light'
                font-size: 11px
                display: flex
                justify-content: center
                span
                    margin-left: .25rem
                    font-family: 'helvetica-std-light'
                    position: relative
                    &::after
                        position: absolute
                        content: ' '
                        top: 35%
                        left: 0
                        width: 100%
                        height: 1px
                        background: #919191
            .button-cart-container
                text-align: center
                margin-top: .5rem
                margin-bottom: .5rem
                .button-add-cart
                    cursor: pointer
                    background: $gray
                    color: $white
                    font-family: 'futura-bold'
                    text-align: center
                    padding: .5rem 1rem
                    font-size: .7rem
                    border-radius: 50px

@media (max-width: $break-mobile)
    .col.s3.pl3
        width: 100% !important
        padding-left: 1rem !important
    .product-list
        .banner
            display: none
    .product-result
        width: 100% !important
        padding-left: 1rem !important
        padding-right: 1rem !important
        .product-list-container
            .product-item
                width: 50% !important
                .image-container
                    height: 150px

        .product-result-header
            .sort-products
                padding-left: 0
                flex-wrap: wrap
                .sort-select
                    margin-bottom: 1rem
                    margin-left: auto
                    margin-right: auto
                .sort-options
                    display: none
                .pagination
                    margin-left: 1rem
@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .col.s3.pl3
        width: 30% !important
    .product-result
        width: 70% !important
        .product-list-container
            .product-item
                width: 50% !important
        .product-result-header
            .sort-products
                padding-left: 0
                .sort-options
                    display: none
                .pagination
                    margin-left: 1rem

@media (min-width: $break-tablet) and (max-width: $break-laptop)
    .product-result
        .product-list-container
            .product-item
                width: 33.3333% !important

/*@media (min-width: $break-tablet and max-width: $break-laptop)*/
/*@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)*/
/*@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)*/