@import base

.product-detail
    position: relative
    background: $white
    margin-bottom: 0 !important
    padding-bottom: 2rem
    *
        position: relative
        z-index: 1
    &::before
        content: ' '
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('/images/footer-background.png')
        background-size: cover
        background-repeat: repeat-y
        z-index: 0
    .gallery-product-row
        display: flex
        margin-left: 0
        margin-right: 0
        justify-content: space-between
    .description-row-container
        display: flex
        margin-left: 0
        margin-right: 0
        justify-content: space-between
        margin-top: 2rem
    .breadcrumbs
        margin-top: 1rem
        padding-left: 1em
        position: relative
        z-index: 10
        .breadcrumb:last-child
            &::after
                content: ''
        .breadcrumb
            color: $breadcrumb-text
            font-family: 'futura-book'
            font-size: 1rem
            &::before
                content: '' !important                
            &::after
                content: '/'
                display: inline-block
                color: $breadcrumb-text
                font-family: 'futura-book'
                font-size: 1rem
                margin-left: 1rem
    .lines
        margin-top: 1rem
        margin-left: -1rem
        height: 1px

    .custom-gallery-product-container
        padding-left: 2rem !important
        display: flex
        margin-left: 0 !important
        margin-right: 0 !important
        .image-list
            width: 70px
            display: block
            .item.active
                border: 1px solid $breadcrumb-text
                border-radius: 15px
                &::before
                    opacity: 1
                &::after
                    opacity: 1
            .item
                margin-bottom: .5rem
                padding: 1rem
                width: 90px
                display: block
                position: relative
                cursor: pointer
                border-radius: 15px
                transition: all .35s ease-in-out
                img
                    width: 100%
                &::before
                    position: absolute
                    content: ' '
                    background: url('/images/play-icon.svg')
                    background-size: cover
                    width: 20px
                    height: 25px
                    top: 30%
                    left: 40%
                    z-index: 99
                    opacity: 0
                    transition: all .35s ease-in-out
                &::after
                    opacity: 0
                    transition: all .35s ease-in-out
                    content: ' '
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background: rgba(255, 255, 255, 0.5)
        .product-show
            display: block
            width: calc( 100% - 80px )
            text-align: center
            img
                height: 400px
                    
    .product-details-text
        background: $product-detail-background
        border-radius: 15px
        padding-top: 1rem !important
        padding-bottom: 1rem !important
        padding-left: 3rem !important
        padding-right: 5rem !important
        position: relative
        margin-right: 2rem
        width: 35% !important
        .corner-top
            position: absolute
            top: -.75rem
            left: -.75rem
            width: 1.25rem
            height: 1.25rem
            content: ' '
            background: url('/images/corner-gray.svg')
            background-size: cover
        .corner-bottom
            position: absolute
            bottom: -.75rem
            right: -.75rem
            width: 1.25rem
            height: 1.25rem
            content: ' '
            background: url('/images/corner-gray.svg')
            background-size: cover
            transform: rotate(180deg)
        .title
            color: $product-name
            font-family: 'helvetica-std-black'
            font-size: 1.5rem
            margin-bottom: 0
        .subtitle
            margin-top: 0
            font-family: 'helvetica-std-light'
            color: $product-name
            font-size: 1.5rem
        .sales1
            margin-top: 2rem
            margin-bottom: 0 !important
            .text
                color: $bulletin-red
                font-family: 'helvetica-std-light'
                font-size: 1rem
                letter-spacing: 1px
            .price
                color: $bulletin-red
                font-family: 'helvetica-std-light'
                font-size: 1rem
                text-align: right
                letter-spacing: 1px
        .sales2
            margin-top: .5rem
            .text
                color: $breadcrumb-text
                font-family: 'helvetica-std-light'
                font-size: 1rem
                letter-spacing: 1px
            .price
                color: $breadcrumb-text
                font-family: 'helvetica-std-light'
                font-size: 1rem
                text-align: right
                letter-spacing: 1px
        .description
            color: $breadcrumb-text
            font-family: 'helvetica-std-light'
            font-size: 1rem
            letter-spacing: 1px
            line-height: 1.5rem
        .quantity-cart
            .quantity
                background: $product-quantity-background
                display: inline-block
                border: 1px solid $gray
                border-radius: 2rem
                user-select: none
                .minus
                    color: $product-quantity-symbols
                    display: inline-block
                    margin-left: .5rem
                    margin-right: 1rem
                    vertical-align: baseline
                    padding-top: .15rem
                    cursor: pointer
                    user-select: none
                .number
                    color: $breadcrumb-text
                    display: inline-block
                    vertical-align: super
                    font-family: 'helvetica-std-light'
                    user-select: none
                .plus
                    color: $product-quantity-symbols
                    display: inline-block
                    margin-left: 1rem
                    margin-right: .5rem
                    cursor: pointer
                    user-select: none
            .rounded-button-red
                background: $bulletin-red
                color: $white
                padding: .5rem 2rem
                border-radius: 2rem
                text-align: center
                line-height: 2rem
                span
                    display: inline-block
                    font-size: 1.15rem
                    font-family: 'helvetica-std-black'
                img
                    margin-left: 1rem
                    display: inline-block
                    height: 1.15rem
                    vertical-align: middle
        .sku
            font-family: 'helvetica-std-light'
            font-size: 1rem
            color: $breadcrumb-text
            margin-bottom: 0
            span
                font-family: 'helvetica-std-black'
        .brand
            font-family: 'helvetica-std-black'
            font-size: 1rem
            color: $breadcrumb-text
            img
                vertical-align: middle
    .more-info1
        position: relative
        z-index: 10
        .title
            color: $product-gray2
            font-family: 'helvetica-std-bold'
            font-size: 1.3rem
            letter-spacing: 1px
            margin-bottom: 0
        .underline
            .red-line
                background: $bulletin-red
                height: 8px
                border-radius: 10px
                width: 10%
                display: inline-block
                margin-right: 2%
            .gray-line
                background: $footer-background
                height: 2px
                width: 80%
                display: inline-block
    .more-info2
        position: relative
        z-index: 10
        margin-top: 1.5rem
        .red-text
            color: $bulletin-red !important
            font-family: 'helvetica-std-bold'
            letter-spacing: 1px
            font-size: 1rem
            display: inline-block
            margin-right: 3px
        .red-line
            background: $bulletin-red
            height: 2px
            width: calc( 100% - 264px )
            display: inline-block
    .more-info3
        position: relative
        z-index: 10
        margin-top: 1.5rem
        .red-text
            color: $bulletin-red !important
            font-family: 'helvetica-std-bold'
            letter-spacing: 1px
            font-size: 1rem
            display: inline-block
            margin-right: 3px
        .red-line
            background: $bulletin-red
            height: 2px
            width: calc( 100% - 250px )
            display: inline-block
    .more-info-text
        color: $product-gray2
        font-family: 'helvetica-std-light'
        font-size: 1rem
        width: 70%
        line-height: 1.25rem
        span
            font-family: 'helvetica-std-bold'
    .shipping-text
        position: relative
        z-index: 10
        margin-right: 2rem
        padding-top: 2rem !important
        .content
            width: 370px
            margin: 0 auto
        .shipping-item.active
            .icon.active
                display: block
            .icon.inactive
                display: none
        .shipping-item.inactive
            .icon.active
                display: none
            .icon.inactive
                display: block

        .shipping-item
            display: flex
            justify-content: space-between
            margin-bottom: 2rem
            border-bottom: 1px solid $footer-background
            padding-bottom: 1rem
            .icon
                width: 2rem
            .text
                color: $breadcrumb-text
                font-family: 'helvetica-std-light'
                font-size: 1rem
                letter-spacing: 1px
            .badge.inactive
                background: $breadcrumb-text
                color: $gray
            .badge.active
                background: $bulletin-red
            .badge
                background: $bulletin-red
                padding: 1rem 2rem !important
                font-family: 'helvetica-std-light'
                letter-spacing: 1px
                color: $white
                line-height: 3px
                border-radius: 2rem
                display: block
        .shipping-images
            img
                width: 100%
        .ship-share
            margin-top: 4rem
            display: flex
            justify-content: center
            .text
                color: $breadcrumb-text
                font-family: 'helvetica-std-light'
                font-size: 1rem
                letter-spacing: 1px
                margin-right: 1.5rem
            .social-link
                display: block
                width: 30px
                margin-right: 1rem
                margin-top: -.5rem
                img
                    width: 100%
    &
        position: relative
        z-index: 10
    

.similar-products-row
    position: relative
    margin-bottom: 0 !important
    .similar-product
        padding-right: 0 !important
        overflow: hidden
        padding-top: 1rem !important
        padding-bottom: 1rem !important
        position: relative
        z-index: 1
        .similar-product-title
            margin-right: 0
            text-align: left
            img
                height: 2rem
    .similar-slider-container
        background: unset !important
        padding-bottom: 3rem

.similar-slider-custom
    position: relative
    .slider-item
        padding: .5rem 1.9rem !important
        text-align: center
        .slider-white-background
            background: $white
            display: block
            border-radius: 20px
        img
            height: 107px
        .product-description
            border-bottom-left-radius: 25px
            border-bottom-right-radius: 25px
            padding: 1rem 3rem
            .product-title-1
                width: 200px
                margin-left: auto
                margin-right: auto
                margin-top: 0 !important
                margin-bottom: 0 !important
                font-family: 'futura-ext-bold'
                color: $gray
                font-size: .9rem
                text-align: center
                span
                    font-family: 'futura-heavy'
            .product-title-2
                width: 200px
                margin-left: auto
                margin-right: auto
                margin-top: 0 !important
                margin-bottom: 0 !important
                font-family: 'futura-light'
                color: $product-gray2
                font-size: .8rem
                text-align: center
                span
                    font-family: 'futura-heavy'
            .product-price-1
                font-family: 'futura-medium'
                color: $product-red
                font-size: .8rem
                text-align: center
                margin-top: .5rem !important
                margin-bottom: 0 !important
                span
                    font-family: 'futura-bold'
            .product-price-2
                font-family: 'futura-medium'
                color: $product-gray2
                font-size: .8rem
                text-align: center
                margin-top: 0 !important
                margin-bottom: 0 !important
                span
                    font-family: 'futura-bold'
            .button-cart-container
                text-align: center
                margin-top: 1rem
                .button-add-cart
                    background: $gray
                    color: $white
                    font-family: 'futura-bold'
                    text-align: center
                    padding: .5rem 1rem
                    font-size: .7rem
                    border-radius: 50px

.modal-add-cart
    padding-top: 1rem !important
    padding-bottom: 1rem !important
    padding-left: 1rem !important
    padding-right: 1rem !important
    border-radius: 25px !important
    overflow: visible !important
    width: 800px !important
    .corner-top
        position: absolute
        top: -.75rem
        left: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
    .corner-bottom
        position: absolute
        bottom: -.75rem
        right: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
        transform: rotate(180deg)
    .title
        img
            width: 40px
        color: $product-gray2
        font-family: 'helvetica-std-light'
        font-size: 1.5rem
        text-align: left
    .product-description
        text-align: left
        .product-image
            display: inline-block
            width: 40%
            vertical-align: middle
            margin-right: 1rem
        .text-price
            display: inline-block
            color: $bulletin-red
            font-family: 'helvetica-std-light'
            font-size: 1rem
            vertical-align: middle
    .product-name
        margin-top: 1rem
        color: $product-name
        font-family: 'helvetica-std-black'
        font-size: 1.15rem
        text-align: left
        margin-bottom: 0
    .product-description
        margin-top: 0
        color: $product-name
        font-family: 'helvetica-std-light'
        font-size: 1rem
        text-align: left
    .product-list-item.active
        .product-name
            .product-name-text
                color: $product-name
                font-family: 'helvetica-std-black'
                font-size: 1rem
                margin-bottom: 0
            .product-name-desc
                margin-top: 0
                color: $product-name
                font-family: 'helvetica-std-light'
                font-size: .9rem
    .product-list-item
        display: flex
        justify-content: space-between
        margin-bottom: -1.5rem
        .product-name
            display: block
            .product-name-text
                color: $bulletin-gray
                font-family: 'helvetica-std-black'
                font-size: 1rem
                margin-bottom: 0
                margin-top: 0
            .product-name-desc
                margin-top: 0
                color: $bulletin-gray
                font-family: 'helvetica-std-light'
                font-size: .9rem
        .product-price
            margin-top: .5rem
            display: block
            color: $bulletin-red
    .product-total
        color: $bulletin-red
        font-family: 'helvetica-std-light'
        margin-top: 3rem
        text-align: right
        font-size: 1.25rem
        span
            font-family: 'helvetica-std-bold'
            letter-spacing: 1px
    .cart-info:first-child
        padding-right: 2rem !important
    .cart-info:last-child
        padding-left: 2rem !important
    .cart-info
        display: flex
        justify-content: space-evenly
        margin-top: 2rem
        padding-bottom: 1rem !important
        border-bottom: 1px solid $footer-background
        .icon
            height: 1.25rem
            margin-top: 0px
        .text
            margin-top: 5px
            color: $breadcrumb-text
            font-family: 'helvetica-std-light'
            font-size: .9rem
            letter-spacing: 1px
        .badge-red
            margin-top: -5px
            font-family: 'helvetica-std-light'
            font-size: .9rem
            background: $bulletin-red
            color: $white
            padding-top: 0
            padding-bottom: 0
            padding-right: 1rem
            padding-left: 1rem
            border-radius: 2rem
            line-height: 2rem
    .modal-ship-secure
        margin-top: 1rem
        text-align: center
        img
            width: 40%
    .buttons-cart
        margin-top: 4rem
        .shop-button-gray
            text-align: right
            .button-gray
                background: $gray
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                color: $white
                border-radius: 2rem
                width: 180px
                display: inline-block
                text-align: center
                padding-top: .25rem
                padding-bottom: .25rem
        .shop-button-red
            text-align: left
            .button-red
                background: $bulletin-red
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                color: $white
                border-radius: 2rem
                width: 180px
                display: inline-block
                text-align: center
                padding-top: .25rem
                padding-bottom: .25rem

.modal-register
    padding-top: 1rem !important
    padding-bottom: 2rem !important
    padding-left: 1rem !important
    padding-right: 1rem !important
    border-radius: 25px !important
    overflow: visible !important
    min-width: 800px !important
    max-height: unset !important
    .corner-top
        position: absolute
        top: -.75rem
        left: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
    .corner-bottom
        position: absolute
        bottom: -.75rem
        right: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
        transform: rotate(180deg)
    .title
        display: flex
        overflow: hidden
        span
            color: $product-gray2
            font-family: 'helvetica-std-black'
            font-size: 1.5rem
            margin-right: 1rem
        img
            margin-right: -60rem
            height: 1px
            margin-top: 18px
    .subtitle
        color: $product-gray2
        font-family: 'helvetica-std-bold'
        font-size: 1.25rem
        margin-top: 3rem
        margin-bottom: 2rem
        letter-spacing: 2px
    .social-button-cont
        text-align: center
        .blue
            background: $facebook-background !important
        .red
            background: $bulletin-red !important
        .login-button
            background: $breadcrumb-text
            border-radius: 2rem
            padding: .25rem 1rem
            .icon
                height: 10px
                margin-right: 5px
            .text
                color: $white
                font-family: 'helvetica-std-light'
                font-size: .9rem
                letter-spacing: 1px
    .register-form
        margin-top: 2rem
        padding-left: 4rem
        padding-right: 4rem
        .title
            color: $product-gray2
            font-family: 'futura-medium'
            font-size: 1.25rem
            letter-spacing: 2px
            margin-bottom: 2rem
        .input-cont
            margin-bottom: 1rem
            display: flex
            justify-content: space-between
            padding-left: 0 !important
            padding-right: 0 !important
            label
                color: $product-gray2
                font-family: 'helvetica-std-light'
                font-size: 1rem
                letter-spacing: 2px
                width: 300px
                padding-top: .35rem
            .custom-input:focus
                box-shadow: none !important
                border: none !important
            .custom-input
                background: $register-input-background
                border-radius: 2rem
                border: none
                text-indent: 1.5rem
                margin-bottom: 0
                height: 2rem
    .buttons-cart
        margin-top: 4rem
        .shop-button-gray
            text-align: right
            .button-gray
                background: $gray
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                color: $white
                border-radius: 2rem
                width: 180px
                display: inline-block
                text-align: center
                padding-top: .25rem
                padding-bottom: .25rem
        .shop-button-red
            text-align: center
            .button-red
                background: $bulletin-red
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                color: $white
                border-radius: 2rem
                width: 180px
                display: inline-block
                text-align: center
                padding-top: .25rem
                padding-bottom: .25rem
.modal-login
    padding-top: 1rem !important
    padding-bottom: 1rem !important
    padding-left: 1rem !important
    padding-right: 1rem !important
    border-radius: 25px !important
    overflow: visible !important
    width: 800px !important
    .corner-top
        position: absolute
        top: -.75rem
        left: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
    .corner-bottom
        position: absolute
        bottom: -.75rem
        right: -.75rem
        width: 25px
        height: 25px
        background: url('/images/corner-icon.svg')
        background-size: cover
        z-index: 99999
        transform: rotate(180deg)
    .title
        text-align: center
        span
            display: block
            color: $product-gray2
            font-family: 'helvetica-std-bold'
            font-size: 1.5rem
            margin-right: 1rem
            letter-spacing: 2px
        img
            display: block
            width: 100%
            margin-top: 18px
    .subtitle
        margin-top: 2rem
        font-family: 'helvetica-std-light'
        color: $product-gray2
        text-align: center
        letter-spacing: 2px
    .login-form
        margin-top: 2rem
        width: 300px
        .input-cont
            margin-bottom: 1rem
            padding-left: 0 !important
            padding-right: 0 !important
            label
                color: $product-gray2
                font-family: 'helvetica-std-light'
                font-size: 1rem
                letter-spacing: 2px
                width: 300px
                padding-top: .35rem
                margin-bottom: .5rem !important
                display: block
            .custom-input:focus
                box-shadow: none !important
                border: none !important
            .custom-input
                background: $register-input-background
                border-radius: 2rem
                border: none
                text-indent: 1.5rem
                margin-bottom: 0
                height: 2rem
    .buttons-cart
        margin-top: 1rem
        .shop-button-gray
            text-align: left
            .button-gray
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                color: $gray
                border-radius: 2rem
                width: 180px
                display: inline-block
                text-align: center
                padding-top: .25rem
                padding-bottom: .25rem
        .shop-button-red
            text-align: right
            .button-red
                background: $bulletin-red
                font-family: 'helvetica-std-bold'
                font-size: .9rem
                color: $white
                border-radius: 2rem
                width: 180px
                display: inline-block
                text-align: center
                padding-top: .25rem
                padding-bottom: .25rem
        .remember-password
            margin-top: 1rem
            label
                overflow: visible
                font-size: .9rem
            span
                vertical-align: bottom

@media (max-width: $break-mobile)
    .similar-slider-custom
        .slider-item
            .product-description
                .product-title-1
                    width: 200px
                .product-title-2
                    width: 190px
    .modal-login
        width: 95% !important
        min-width: unset !important
        height: 90%
        overflow: auto !important
        .buttons-cart
            .shop-button-red
                width: 100% !important
                text-align: center
            .shop-button-gray
                margin-top: 1rem
                width: 100% !important
                text-align: center
    .modal-register
        width: 95% !important
        min-width: unset !important
        height: 90%
        overflow: auto !important
        .title
            img
                display: none
                margin-right: 0
                width: calc( 100% - 350px )
        .social-button-cont
            width: 100% !important
            margin-top: 1rem
        .register-form
            padding-left: 2rem
            padding-right: 2rem
            .input-cont
                flex-direction: column
    .modal-add-cart
        width: 95% !important
        height: 90%
        .cart-info:first-child
            padding-right: 0 !important
        .cart-info
            display: flex
            padding-right: 0 !important
        .buttons-cart
            .shop-button-gray
                text-align: center
            .shop-button-red
                margin-top: 1rem
                text-align: center

    .product-detail
        .custom-gallery-product-container
            width: 100% !important
            display: flex
            justify-content: space-between
            .product-show
                width: 50%
                img
                    width: 100%
                    height: auto
        .product-details-text
            width: 92.5% !important
            margin-left: 1rem !important
            margin-right: 1rem !important
            padding-left: 1rem !important
            padding-right: 1rem !important
    .product-detail
        .more-info2
            .red-line
                width: calc( 100% - 202px)
    .product-detail
        .product-details-text
            .title
                font-size: 1rem
            .subtitle
                font-size: .9rem
            .description
                font-size: .9rem
            .quantity-cart
                .s6
                    width: 100% !important
                    text-align: center !important
                    margin-top: 1rem
                .rounded-button-red
                    padding-left: 1rem
                    padding-right: 1rem
                    span
                        font-size: .9rem
                    img
                        height: .9rem
        .content
            width: 100% !important
        .shipping-text
            width: 40% !important
            margin: 0 auto
            .shipping-item
                .icon
                    width: 1.5rem
                .text
                    font-size: .9rem
                    text-align: center
                    padding-left: .5rem
                    padding-right: .5rem
                .badge
                    font-size: .8rem
                    padding: .75rem 1rem !important
                    margin-left: 0

            .shipping-images
                text-align: center
                img
                    width: 70%
    .gallery-product-row
        flex-direction: column
    .description-row-container
        flex-wrap: wrap
        .col.s7.pl2
            width: 100% !important
        .shipping-text
            width: 90% !important
    .modal-add-cart
        max-height: unset !important
        overflow: auto !important
        .modal-content
            padding: 15px !important
            .s6
                width: 100% !important
        .title
            font-size: 1rem
            img
                width: 15px
@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .similar-slider-custom
        .slider-item
            .product-description
                .product-title-1
                    width: 200px
                .product-title-2
                    width: 190px
    .modal-login
        width: 95% !important
        min-width: unset !important
    .modal-register
        width: 95% !important
        min-width: unset !important
        .title
            img
                display: none
                margin-right: 0
                width: calc( 100% - 350px )
        .social-button-cont
            width: 100% !important
            margin-top: 1rem
    .modal-add-cart
        width: 95% !important
    .product-detail
        .custom-gallery-product-container
            display: flex
            justify-content: space-between
            .product-show
                width: calc( 100% - 150px)
                img
                    width: 100%
                    height: auto
        .product-details-text
            width: 45% !important
            margin-left: 2rem !important;
            margin-right: 0
    .product-detail
        .more-info2
            .red-line
                width: calc( 100% - 202px)
    .product-detail
        .product-details-text
            .title
                font-size: 1.15rem
            .subtitle
                font-size: 1rem
            .description
                font-size: .9rem
            .quantity-cart
                .s6
                    width: 100% !important
                    text-align: center !important
                    margin-top: 1rem
                .rounded-button-red
                    padding-left: 1rem
                    padding-right: 1rem
                    span
                        font-size: .9rem
                    img
                        height: .9rem
        .content
            width: 100% !important
        .shipping-text
            width: 40% !important
            margin: 0 auto
            .shipping-item
                .icon
                    width: 1.5rem
                .text
                    font-size: .9rem
                    text-align: center
                    padding-left: .5rem
                    padding-right: .5rem
                .badge
                    font-size: .8rem
                    padding: .75rem 1rem !important
                    margin-left: 0

            .shipping-images
                text-align: center
                img
                    width: 70%

@media (min-width: $break-tablet) and (max-width: $break-laptop)
    .similar-slider-custom
        .slider-item
            .product-description
                .product-title-1
                    width: 200px
                .product-title-2
                    width: 200px
    .product-detail
        .custom-gallery-product-container
            display: flex
            justify-content: space-between
            .product-show
                width: calc( 100% - 150px)
                img
                    width: 100%
                    height: auto
        .product-details-text
            width: 45% !important
            margin-left: 2rem !important;
    .product-detail
        .product-details-text
            .title
                font-size: 1.15rem
            .subtitle
                font-size: 1rem
            .description
                font-size: .9rem
            .quantity-cart
                .rounded-button-red
                    padding-left: 1rem
                    padding-right: 1rem
                    span
                        font-size: .9rem
                    img
                        height: .9rem
        .shipping-text
            width: 30% !important
            .shipping-item
                .icon
                    width: 1.5rem
                .text
                    font-size: .9rem
                .badge
                    font-size: .8rem
                    padding: .75rem 1rem !important
                    margin-left: 0

            .shipping-images
                text-align: center
                img
                    width: 70%



/*@media (min-width: $break-tablet and max-width: $break-laptop)*/
@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)
    .modal-register
        width: 65% !important
    .product-detail
        .more-info2
            .red-line
                width: calc( 100% - 236px)
    .similar-slider-custom
        .slider-item
            .product-description
                padding: 1rem 2rem
                .product-title-1
                    width: unset
                .product-title-2
                    width: unset
    .product-detail
        .product-details-text
            width: 43% !important
            .title
                font-size: 1.15rem
            .subtitle
                font-size: 1rem
            .description
                font-size: .9rem
            .quantity-cart
                .rounded-button-red
                    padding-left: 1rem
                    padding-right: 1rem
                    span
                        font-size: .9rem
                    img
                        height: .8rem
        .shipping-text
            .shipping-item
                .icon
                    width: 1.75rem
                .text
                    font-size: .9rem
                .badge
                    font-size: .8rem
                    padding: .75rem 1rem !important

            .shipping-images
                text-align: center
                img
                    width: 70%

@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)
    .modal-register
        width: 60% !important
    .product-detail
        .more-info2
            .red-line
                width: calc( 100% - 243px)
    .product-detail
        .product-details-text
            width: 40% !important
            .quantity-cart
                .rounded-button-red
                    span
                        font-size: 1rem
                    img
                        height: 1rem
        .shipping-text
            .shipping-images
                text-align: center
                img
                    width: 80%