@import base

.product-compare
    position: relative
    background: $white
    margin-bottom: 0 !important
    padding-bottom: 2rem
    &::before
        content: ' '
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('/images/footer-background.png')
        background-size: cover
        background-repeat: repeat-y
        z-index: 0
    .breadcrumbs
        margin-top: 1rem
        padding-left: 1em
        position: relative
        z-index: 10
        .breadcrumb:last-child
            &::after
                content: ''
        .breadcrumb
            color: $breadcrumb-text
            font-family: 'futura-book'
            font-size: 1rem
            &::before
                content: '' !important                
            &::after
                content: '/'
                display: inline-block
                color: $breadcrumb-text
                font-family: 'futura-book'
                font-size: 1rem
                margin-left: 1rem
    .lines
        margin-top: 1rem
        margin-left: -1rem
        height: 1px
    .close-compare
        position: absolute
        width: 32px
        height: 32px
        top: 1rem
        right: 1rem

    .compare-container
        position: relative
        z-index: 1
        .list-compare
            padding-left: 3rem
            .description
                height: 295px
                display: flex
                align-items: center
                .item
                    span
                        color: $bulletin-gray
                        font-family: 'helvetica-std-light'
                        font-size: 1rem
                        display: inline-block
                        margin-left: .25rem
                    .check
                        width: 14px
                        display: inline-block
                        vertical-align: middle
            .list-description
                padding-top: .5rem
                .item
                    margin-top: 0
                    margin-bottom: .75rem
                    span
                        color: $bulletin-gray
                        font-family: 'helvetica-std-light'
                        font-size: 1rem
                        display: inline-block
                        margin-left: .25rem
                    .check
                        width: 14px
                        display: inline-block
                        vertical-align: middle
        .product-comparation-columns
            .s4:nth-child(even)
                .content
                    background: $product-quantity-background
            .s4:nth-child(odd)
                .content
                    background: $register-input-background
            .product-item
                .content
                    width: 95%
                    margin: 0 auto
                    border-radius: 15px
                    padding-top: 2rem
                    padding-bottom: 2rem
                    position: relative
                    z-index: 1
                .description
                    text-align: center
                    width: 240px
                    margin: 0 auto
                    .product-image
                        width: 190px
                    .text
                        .title
                            font-family: 'helvetica-std-bold'
                            color: $bulletin-gray
                            font-size: 1.25rem
                            text-align: center
                            span
                                font-family: 'helvetica-std-black'
                        .text-text
                            color: $bulletin-gray
                            font-family: 'helvetica-std-light'
                            font-size: 1rem
                            text-align: justify
                .list-description
                    width: 240px
                    margin: 0 auto
                    .item
                        margin-bottom: 0
                        margin-top: 0
                        &::before
                            position: absolute
                            content: ' '
                            display: block
                            width: 100%
                            left: 0
                            height: 2px
                            background: url('/images/compare-lines.png')

                        span
                            color: $bulletin-gray
                            font-family: 'helvetica-std-bold'
                            font-size: 1rem
                            text-align: center
                            text-transform: uppercase
                            display: block
                            padding-top: .5rem
                            padding-bottom: .25rem
                    .button-cont
                        display: block
                        width: 100%
                        margin-top: .5rem
                        .gray-button
                            background: $gray
                            border: none
                            border-radius: 15px
                            font-family: 'helvetica-std-bold'
                            font-size: .9rem
                            color: $white
                            text-align: center
                            display: block
                            width: 100%
                            padding-top: .5rem
                            padding-bottom: .35rem

@media (max-width: $break-mobile)
    .product-compare
        .close-compare
            top: 7rem
        .compare-container
            .list-compare
                display: none
            .s10
                width: 100% !important
            .product-comparation-columns
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                .product-item
                    margin-top: 2rem
                    width: 100% !important
@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .product-compare
        .compare-container
            .list-compare
                display: none
            .s10
                width: 100% !important
            .product-comparation-columns
                .product-item
                    .description
                        .product-image
                            width: 125px
                        .text
                            .title
                                font-size: 1rem
                    .content
                        width: 100%
                    .list-description
                        .button-cont
                            width: 98%


/*@media (min-width: $break-tablet) and (max-width: $break-laptop)*/
/*@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)*/
/*@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)*/
