@import base

.product-order
    position: relative
    background: $white
    margin-bottom: 0 !important
    padding-left: 2rem
    *
        z-index: 1
        position: relative
    &::before
        content: ' '
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('/images/footer-background.png')
        background-size: cover
        background-repeat: repeat-y
        z-index: 0
    .ship-data
        padding-right: 1.5rem !important
        .ship-desc
            padding-right: 5rem !important
            padding-top: 2rem
            .title
                display: flex
                justify-content: space-between
                width: 80%
                span
                    color: $bulletin-red
                    font-family: 'helvetica-std-bold'
                    font-size: 1.5rem
                    display: block
                    width: auto
                .line-inline-red
                    display: block
                    width: 78%
                    height: 3px
                    background: $bulletin-red
                    margin-top: .75rem
            .form
                margin-top: 2rem
                margin-bottom: 2rem
                width: 60%
                label
                    display: block
                    margin-top: 1rem
                    margin-bottom: .5rem
                    color: $product-gray2
                    font-family: 'helvetica-std-light'
                    font-size: 1.15rem
                    letter-spacing: 2px
            .payment
                margin-top: 0
                display: flex
                justify-content: flex-start
                label
                    display: block
                    margin-top: 1rem
                    margin-bottom: .5rem
                    color: $product-gray2
                    font-family: 'helvetica-std-light'
                    font-size: 1.15rem
                    letter-spacing: 2px
                .card-number
                    margin-right: 1rem
                    width: 40%
                .expiration
                    width: 15%
        .order-desc
            background: $register-input-background
            border-radius: 15px
            margin-top: .5rem
            padding: 2rem 1rem 2rem 2rem
            min-height: 540px
            width: 100%
            .title
                margin-bottom: 1rem
                span
                    color: $product-gray2
                    font-family: 'helvetica-std-bold'
                    font-size: 1.25rem
                    letter-spacing: 1.5px
                .lines
                    display: flex
                    justify-content: space-between
                    .line-red
                        background: $bulletin-red
                        height: 10px
                        width: 209px
                        border-radius: 10px
                    .line-gray
                        background: $footer-background
                        height: 3px
                        border-radius: 3px
                        width: calc( 100% - 220px )
                        margin-top: .25rem
            .product-item
                margin-top: 1rem
                display: flex
                justify-content: space-between
                .product-name-desc
                    .product-name
                        color: $product-gray2
                        font-family: 'helvetica-std-black'
                        font-size: 1rem
                        margin-bottom: 0
                        margin-top: 0
                    .product-desc
                        font-family: 'helvetica-std-light'
                        color: $product-gray2
                        font-size: .9rem
                        margin-bottom: 0
                        margin-top: 0
                .product-price
                    .price
                        color: $product-gray2
                        font-family: 'helvetica-std-light'
                        font-size: 1rem
                        letter-spacing: 1px
                        display: inline-block
                    .delete
                        vertical-align: super
                        cursor: pointer
                        display: inline-block
                        border: 1px solid $product-gray2
                        border-radius: 2rem
                        width: 16px
                        height: 16px
                        text-align: center
                        padding-top: 1px
                        span
                            display: inline-block
                            font-size: 12px
                            color: $product-gray2
            .total-price
                display: flex
                justify-content: space-between
                margin-top: 2rem
                .text
                    color: $bulletin-red
                    font-family: 'helvetica-std-bold'
                    font-size: 1rem
                    padding-left: 25%
                .price
                    color: $bulletin-red
                    font-family: 'helvetica-std-light'
                    font-size: 1rem
                    padding-right: 1.5rem
        .secure
            margin-top: 3rem
    .ship-options
        margin-top: 2rem
        .ship-col
            padding-right: 5% !important
        .title
            display: flex
            margin-bottom: 1rem
            span
                color: $bulletin-red
                font-family: 'helvetica-std-bold'
                font-size: 1.25rem
                letter-spacing: 1.5px
                margin-right: 1rem
            .lines-red
                display: block
                width: calc( 100% - 240px )
                height: 3px
                background: $bulletin-red
                margin-top: .75rem
        .check-button.active
            background: $filter-background
        .check-button
            border-radius: 10px
            padding: 1rem 2rem
            display: flex
            width: 400px
            .content
                border-bottom: 1px solid $footer-background
                width: auto
                display: flex
                padding-bottom: .5rem
                .icon
                    height: 15px
                .text
                    color: $breadcrumb-text
                    font-family: 'helvetica-std-light'
                    font-size: .9rem
                    letter-spacing: 1px
                    margin-left: 1rem
                    margin-right: 1rem
                .badge.active
                    background: $bulletin-red
                .badge
                    background: $bulletin-gray
                    color: $white
                    font-family: 'helvetica-std-light'
                    font-size: .9rem
                    letter-spacing: 1px
                    border-radius: 2rem
                    text-align: center
                    padding-top: 2.5px
                    padding-left: 1rem
                    padding-right: 1rem
        .address.show
            opacity: 1
        .address
            color: $product-gray2
            font-family: 'helvetica-std-light'
            padding-left: 2rem
            margin-top: 2rem
            letter-spacing: 2px
            opacity: 0
            transition: .5s all ease-in-out
            .icon
                width: 2rem
                display: inline-block
            .addres-form
                display: inline-block
                .text-title
                    font-family: 'helvetica-std-black'
                    font-size: .9rem
                    margin: 0
                .text
                    font-family: 'helvetica-std-light'
                    font-size: .9rem
                    margin: 0
        .form
            margin-top: 2rem
            .inline-form.active
                z-index: 9999
            .inline-form
                z-index: 1
                display: flex
                margin-bottom: 1rem
                label
                    color: $product-gray2
                    font-family: 'helvetica-std-light'
                    font-size: 1.15rem
                    letter-spacing: 2px
                    width: 200px
                    padding-top: 10px
    .ship-facturation
        margin-top: 2rem
        .ship-col
            padding-right: 5% !important
        .title
            display: flex
            margin-bottom: 1rem
            span
                color: $bulletin-red
                font-family: 'helvetica-std-bold'
                font-size: 1.25rem
                letter-spacing: 1.5px
                margin-right: 1rem
            .lines-red
                display: block
                width: calc( 100% - 240px )
                height: 3px
                background: $bulletin-red
                margin-top: .75rem
        .subtitle.active
            span
                color: $facturation-text-active
        .subtitle
            span
                transition: all .5s ease-in-out
                color: $product-quantity-symbols
                font-family: 'helvetica-std-bold'
                font-size: 1.25rem
                vertical-align: top
        .form
            margin-top: 2rem
            width: 91%
            margin-bottom: 5rem
            .inline-form
                display: flex
                margin-bottom: 1rem
                label
                    color: $product-gray2
                    font-family: 'helvetica-std-light'
                    font-size: 1.15rem
                    letter-spacing: 2px
                    width: 350px

@media (max-width: $break-mobile)
    .product-order
        .ship-data
            .ship-desc
                width: 100% !important
                padding-right: 1rem !important
                .title
                    width: 100%
                    span
                        font-size: 1.25rem
                    .line-inline-red
                        width: 42%
                .form
                    width: 100%
                .payment
                    .card-number
                        width: 70% !important
                    .expiration
                        width: 30% !important
            .order-desc-cont
                width: 100% !important
            .order-desc
                width: 100% !important
                padding-top: 2rem
                padding-right: 1.5rem
                padding-bottom: 2rem
                padding-left: 1rem
                height: auto
                min-height: unset
                .product-item
                    .product-name-desc
                        .product-name
                            font-size: .8rem
                        .product-desc
                            font-size: .7rem
                    .product-price
                        position: relative
                        .price
                            font-size: .9rem
                            min-width: 70px
                        .delete
                            position: absolute
                            top: -10px
                            right: -10px
                .total-price
                    justify-content: space-evenly
                    .price
                        padding-right: 0
                .title
                    .lines
                        .line-red
                            width: 100px
                        .line-gray
                            width: calc( 100% - 110px);
            .payment
                .card-number
                    width: 50% !important
                .expiration
                    width: 20% !important
    .product-order
        .ship-options
            .ship-col
                width: 100% !important
            .check-button
                width: 100%
            .content
                .badge
                    padding-top: 9.5px !important
        .ship-facturation
            .col.s6
                width: 100%
@media (min-width: $break-mobile) and (max-width: $break-tablet)
    .product-order
        .ship-data
            .ship-desc
                width: 60% !important
                padding-right: 2rem !important
                .title
                    width: 100%
                    .line-inline-red
                        width: 42%
                .form
                    width: 80%
            .order-desc
                width: 40% !important
                .product-item
                    .product-name-desc
                        .product-name
                            font-size: .8rem
                        .product-desc
                            font-size: .7rem
                    .product-price
                        position: relative
                        .price
                            font-size: .9rem
                            min-width: 70px
                        .delete
                            position: absolute
                            top: -10px
                            right: -10px
                .total-price
                    justify-content: space-evenly
                    .price
                        padding-right: 0
                .title
                    .lines
                        .line-red
                            width: 100px
                        .line-gray
                            width: calc( 100% - 110px);
            .payment
                .card-number
                    width: 50% !important
                .expiration
                    width: 20% !important
@media (min-width: $break-tablet) and (max-width: $break-laptop)
    .product-order
        .ship-data
            .ship-desc
                width: 65% !important
                .title
                    width: 100%
                    .line-inline-red
                        width: 60%
                .form
                    width: 80%
            .order-desc
                width: 35% !important
                .product-item
                    .product-name-desc
                        .product-name
                            font-size: .8rem
                        .product-desc
                            font-size: .7rem
            .payment
                .card-number
                    width: 50% !important
                .expiration
                    width: 20% !important
/*@media (min-width: $break-tablet and max-width: $break-laptop)*/
@media (min-width: $break-laptop) and (max-width: $break-laptop-xl)
    .product-order
        .ship-data
            .ship-desc
                width: 65% !important
                .title
                    width: 90%
                    .line-inline-red
                        width: 60%
            .order-desc-cont
                width: 35% !important

@media only screen and (min-width: $break-laptop-xl) and (max-width: $break-modern-pc)
    .product-order
        .ship-data
            .ship-desc
                width: 70% !important
                .title
                    .line-inline-red
                        width: 70%
            .order-desc-cont
                width: 30% !important